<link rel="stylesheet" href="/css/proyecto/proyectoLista.css">
<form action="/proyecto/Lista/{{user.idUsuarios}}" method="get">
</form>
<div id="fondo">
    <img src="/img/111.png" alt="">
</div>
<div id="contenido">
    <div id="contenedor">
        {{#each lista}}
  
            <div id="titulo">
                <h1>Proyecto N° {{proyecto_id}}</h1>
            </div>
            <div id="nombre_proyectos">
                <p> {{nombre_proyecto}}</p>
            </div>
            <div id="descripcion_proyectos">
                <p> {{descripcion_proyecto}}</p>
            </div>
            <div id="misiones">
                <p> {{mision}}</p>
            </div>
            <div id="visiones">
                <p> {{vision}}</p>
            </div>
            <div id="Editar">
                <a href="/proyecto/Editar/{{proyecto_id}}" type="button">Editar</a>
            </div>
            <div id="Eliminar">
                <a href="/proyecto/Eliminar/{{proyecto_id}}" type="button">Eliminar</a>
            </div>


       <!-- {{/each}}
        {{#each listaDetalle}}
        <div id="objetivos">
            <p> {{objetivo}}</p>
        </div>
        {{/each}}-->
    </div>
</div>