<link rel="stylesheet" href="/css/proyecto/proyectoEditar.css">
{{#each lista}}
<form action="/proyecto/Editar/{{proyecto_id}}" method="post">
    {{/each}}
    <div id="img">
        <a href="/proyecto/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
    </div>
    <div id="contenido">

        <div id="contenedor">

            <div id="titulo">
                <p>Proyecto</p>
            </div>
            {{#each lista}}

            <div id="nombre_proyecto">
                <label>Nombre: </label>
                <input name="nombre_proyecto" id="nombre_proyectos" checked type="text" value="{{nombre_proyecto}}">
            </div>
            <div id="descripcion_proyecto">
                <label>descripcion: </label>
                <input name="descripcion_proyecto" id="descripcion_proyectos" checked type="text"
                    value="{{descripcion_proyecto}}">
            </div>
            <div id="mision">
                <label>Mision: </label>
                <input name="mision" id="misionEs" checked type="text" value="{{mision}}">
            </div>
            <div id="vision">
                <label>Vision: </label>
                <input name="vision" id="visions" checked type="text" value="{{vision}}">
            </div>
            {{/each}}
            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>

        <div id="atras">
            <a href="/proyecto/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
        </div>
    </div>
</form>