<link rel="stylesheet" href="/css/detalleRutina/detalleRutinaLista.css">
<form action="/detalleRutina/Lista/{{user.idUsuarios}}" method="get">
</form>
<div id="fondo">
    <img src="/img/111.png" alt="">
</div>
<div id="contenido">
    <div class="row">
        {{#each lista}}
        <div id="tarjetas">
            <div id="titulo">
                <p>Consejos N° {{detalle_rutina_id}}</p>
            </div>
            <div id="consejo">
                <p> {{consejos}}</p>
            </div>

            <div id="Editar">
                <a href="/detalleRutina/Editar/{{detalle_rutina_id}}" type="button">Editar</a>
            </div>
            <div id="eliminar">
                <a href="/detalleRutina/Eliminar/{{detalle_rutina_id}}" type="button">Eliminar</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>