<link rel="stylesheet" href="/css/detalleRutina/detalleRutinaEditar.css">
{{#each lista}}
<form action="/detalleRutina/Editar/{{detalle_rutina_id}}" method="post">
    {{/each}}
    <div id="img">
<<<<<<< HEAD
        <img src="/img/ejecutivo_logo.png" alt="">
=======
        <a href="/proyecto/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
>>>>>>> adb3acd11339b7e26e11c0dc252044375a64d471
    </div>
    <div id="contenido">

        <div id="contenedor">


            <div id="titulo">
                <p>Detalle Rutina</p>
            </div>
            {{#each lista}}
            <label>Consejos: </label>
            <div id="consejos">
                <input name="consejos" id="consejo" checked type="text" value="{{consejos}}">
            </div>
            {{/each}}
            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>
<<<<<<< HEAD

    </div>
    <a href="/detalleRutina/lista/{{user.idUsuarios}}" />
    <div class="icon">
        <div class="arrow">

        </div>

    </div>
    </a>
=======
        <div id="atras">
            <a href="/detalleRutina/Lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
        </div>
    </div>
>>>>>>> adb3acd11339b7e26e11c0dc252044375a64d471
</form>