<link rel="stylesheet" href="/css/clasificacion/clasificacionEditar.css">
{{#each lista}}
<form action="/clasificacion/Editar/{{clasificacion_id}}" method="post">
    {{/each}}
    <div id="img">
        <a href="/proyecto/lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
    </div>
    <div id="contenido">

        <div id="contenedor">

            <div id="titulo">
                <p>Clasificacion</p>
            </div>
            {{#each lista}}

            <div id="nombre_clasificacion">
                <label>Nombre: </label>
                <input name="nombre_clasificacion" id="nombre_clasificaciones" checked type="text"
                    value="{{nombre_clasificacion}}">
            </div>

            <div id="descripcion_clasificacion">
                <label>Descripcion: </label>
                <input name="descripcion_clasificacion" id="descripcion_clasificaciones" checked type="text"
                    value="{{descripcion_clasificacion}}">
            </div>
            {{/each}}
            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>
        <div id="atras">
            <a href="/clasificacion/Lista/{{user.idUsuarios}}"><img src="/img/ejecutivo_logo.png" alt=""></a>
        </div>
    </div>
</form>