<link rel="stylesheet" href="/css/clasificacion/clasificacionLista.css">
<form action="/clasificacion/Lista/{{user.idUsuarios}}" method="get">

    <div id="fondo">
        <img src="../../public/css/img/15348461218161.jpg" alt="">
    </div>
    <div id="contenido">
        {{#each lista}}
        <div id="tarjetas">
            <div id="titulo">
                <p>Clasificación N° {{clasificacion_id}}</p>
            </div>
            <div id="nombre_clasificaciones">
                <p> {{nombre_clasificacion}}</p>
            </div>
            <div id="Editar">
                <a href="/clasificacion/Editar/{{clasificacion_id}}" type="button">Editar</a>
            </div>
            <div id="eliminar">
                <a href="/clasificacion/Eliminar/{{clasificacion_id}}" type="button" ">Eliminar</a>
                        </div>
                    </div>
            {{/each}}
        </div>
</form>