<link rel="stylesheet" href="/css/proyecto/proyectoLista.css">
<form action="/proyecto/Lista/{{user.idUsuarios}}" method="get">
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>
    <div id="contenido">
        <div class="row">
            {{#each lista}}
            <div id="tarjetas">

                <div id="nombre_proyecto">
                    <p> {{nombre_proyecto}}</p>
                </div>
                <div id="descripcion_proyecto">
                    <p> {{descripcion_proyecto}}</p>
                </div>
                <div id="mision">
                    <p id="misiones"> Misión</p>

                    <p> {{mision}}</p>
                </div>
                <div id="vision">
                    <p id="visiones"> Visión</p>
                    <p> {{vision}}</p>
                </div>
               
            </div>
            {{/each}}
        </div>
     
    </div>

</form>