<link rel="stylesheet" href="/css/login/login.css">
<form action="/historialCliente/Editar/{{user.idUsuarios}}" method="post">

    <div id="historialCliente">
        <div id="historial">
            <p>Historial del cliente</p>
        </div>
         {{#each lista}}
        <div id="lesion_ocea">
            <label>Lesion ocea:</label>
            <input name="lesion_ocea" id="lesionOc" checked type="text" value="{{lesion_ocea}}">
        </div>
        <div id="lesion_muscular">
            <label>Lesion muscular:</label>
            <input name="lesion_muscular" id="lesionmus" checked type="text" value="{{lesion_muscular}}">
        </div>
        <div id="enfermedad_cardiovascular">
            <label>Enfermedad cardiovascular:</label>
            <input name="enfermedad_cardiovascular" id="enfermedadcar" checked type="text"value="{{enfermedad_cardiovascular}}">
        </div>
        <div id="actividad_deportiva">
            <label>actividad deportiva:</label>
            <input name="actividad_deportiva" id="deportiva" checked type="text" value="{{actividad_deportiva}}">
        </div>
        <div id="embarazo">
            <label>Embarazo:</label>
            <input name="embarazo" id="Embarazo" checked type="text" value="{{embarazo}}">
        </div>
        <div id="enfermedad">
            <label>Enfermedad:</label>
            <input name="enfermedad" id="Enfermedad" checked type="text" value="{{emfermedad}}">
        </div>
         {{/each}}
        <div id="editar">
            <button type="submit">Editar</button>
        </div>
    </div>

</form>