<link rel="stylesheet" href="/css/rutina/rutinaEditar.css">
{{#each lista}}

<form action="/rutina/Editar/{{rutina_id}}" method="post">
    {{/each}}


    <div id="contenido" class="row">
        <div id="fondo">
            <img src="/img/FondoF.png" alt="">
        </div>
        <div id="contenedor">

            <div id="titulo">
                <p>Rutina</p>
            </div>
            {{#each lista}}

            <label id="video">video rutina: </label>
            <div id="video_rutina">
                <input name="video_rutina" id="video_rutinas" checked type="text" value="{{video_rutina}}">
            </div>

            <label id="tiempo">tiempo rutina: </label>
            <div id="tiempo_rutina">
                <input name="tiempo_rutina" id="tiempo_rutinas" checked type="text" value="{{tiempo_rutina}}">
            </div>

            <label id="descripcionc">descripcion: </label>
            <div id="descripcion">
                <input name="descripcion" id="descripciones" checked type="text" value="{{descripcion}}">
            </div>

            <label id="progresoc">progreso: </label>
            <div id="progreso">
                <input name="progreso" id="progresos" checked type="text" value="{{progreso}}">
            </div>
            {{/each}}

            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>
    </div>
</form>