<link rel="stylesheet" href="/css/rutina/rutinaEditar.css">
{{#each lista}}

<form action="/rutina/Editar/{{rutina_id}}" method="post">
    {{/each}}
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>

    <div id="contenido" class="row">

        <div id="contenedor">

            <div id="titulo">
                <p>Rutina</p>
            </div>
            {{#each lista}}

            <div id="video_rutina">
                <label id="video">video rutina: </label>
                <input name="video_rutina" id="video_rutinas" checked type="url" value="{{video_rutina}}">
            </div>

            <div id="tiempo_rutina">
                <label id="tiempo">tiempo rutina: </label>
                <input name="tiempo_rutina" id="tiempo_rutinas" checked type="time" value="{{tiempo_rutina}}">
            </div>

            <div id="descripcion">
                <label id="descripcionc">descripcion: </label>
                <textarea name="descripcion" id="descripciones" checked type="text" value="{{descripcion}}"></textarea>
            </div>

            <div id="progreso">
                <label id="progresoc">progreso: </label>
                <input id="range"name="progreso" id="progresos" checked type="range" value="{{progreso}}">
            </div>
            {{/each}}

            <div id="editar">
                <button type="submit">Editar</button>
            </div>
        </div>

    </div>
    <a href="/rutina/lista/{{user.idUsuarios}}" />
    <div class="icon">
        <div class="arrow">

        </div>

    </div>
    </a>
</form>