<link rel="stylesheet" href="/css/rutina/rutinaLista.css">
{{#each lista}}
<form action="/rutina/Lista/{{ejercicioEjercicioId}}" method="get"></form>
{{/each}}
    <div id="img">
        <img src="/img/ejecutivo_logo.png" alt="">
    </div>

<div id="contenido">
    <div class="row">
        {{#each lista}}

        <div id="tarjetas">

            <div id="titulo">
                <p>Rutinas N° {{rutina_id}}</p>
            </div>

            <div id="video_rutinas">
                <p> {{video_rutina}}</p>
            </div>

            <div id="tiempo_rutinas">
                <p> {{tiempo_rutina}}</p>
            </div>

            <div id="descripciones">
                <p> {{descripcion}}</p>
            </div>

            <div id="progresos">
                <p> {{progreso}}</p>
            </div>

            <div id="Editar">
                <a href="/rutina/Editar/{{rutina_id}}" type="button">Editar</a>
            </div>
            <div id="Agregar-detalle">
                <a href="/detalleRutina/Agregar/{{rutina_id}}" type="button">+Detalle Rutina</a>
            </div>
            <div id="eliminar">
                <a href="/rutina/Eliminar/{{rutina_id}}" type="button">Eliminar</a>
            </div>
        </div>
        {{/each}}
    </div>
        <div id="Agregar">
            <a  href="/rutina/Agregar/{{user.idUsuarios}}">+</a>
        </div>
</div>