<link rel="stylesheet" href="/css/subclasificacion/subclasificacionLista.css">
<form action="/subclasificacion/Lista/{{user.idUsuarios}}" method="get">

    <div id="fondo">
            <img src="../../public/css/img/pexels-victor-freitas-841130.jpg" alt="">    </div>
    <div id="contenido">
        {{#each lista}}
        <div id="tarjetas">
            <div id="titulo">
                <p>Subclasificación N° {{sub_clasificacion_id}}</p>
            </div>
            <div id="nombre_sub_clasificaciones">
                <p> {{nombre_sub_clasificacion}}</p>
            </div>
            <div id="Editar">
                <a href="/subclasificacion/Editar/{{sub_clasificacion_id}}" type="button">Editar</a>
            </div>
            <div id="eliminar">
                <a href="/subclasificacion/Eliminar/{{sub_clasificacion_id}}" type="button"> Eliminar</a>
            </div>

        </div>
        {{/each}}
    </div>
</form>